/* color pallete:
http://paletton.com/#uid=60D0u0kKB++nz+8u0+W+VOxZMub
*/


body {
  font-family: sans-serif;
  background: white;
  color: #006698;
  overflow: scroll;
}


/* label and input styling from:
https://stackoverflow.com/a/10868749/7051239 */

label {
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  width: 100px;
  margin: 5px;
}

input,
select {
  display: inline-block;
  float: left;
  clear: right;
  margin: 5px;
}

hr {
  border-top: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.longDivider {
  width: 90%;
}

.shortDivider {
  width: 60%;
}


#header {
  background: white;
  color: #006698;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
}

.inputBox {
  margin: 10 350;
}

.inputSubBox {
  height: 130px;
}

#bblInput {
  float: left;
}

#orBox {
  margin: 0 20;
  line-height: 120px;
  vertical-align: middle;
  float: left;
  text-align: center;
}

#addressInput {
  height: 130px;
  float: right;
}

.buttonBox {
  position: relative;
  left: 50%;
}

.submitButton {
  padding: 5px;
  font-size: 15px;
  border-radius: 8px;
}


#violMessage {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#violBox {
  height: 75px;
  margin: 20px;
}

.violClass {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  float: left;
  width: 33%;
}

.violCount {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
  float: left;
  width: 33%;
}

#violCountA {
  color: gold;
}

#violCountB {
  color: darkorange;
}

#violCountC {
  color: red;
}

.footer {
  position: fixed;
  background: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#sourceAttribution {
  color: gray;
  font-size: 15px;
  text-align: right;
  padding: 0px 0px;
  margin-right: 5%;
  position: center;
}

#sourceAttribution a { text-decoration: underline; }
#sourceAttribution a:link, a:visited { color: gray; }
#sourceAttribution a:hover, a:active { color: #06AEFF; }
