/* color pallete:
http://paletton.com/#uid=60D0u0kKB++nz+8u0+W+VOxZMub
*/


body {
  font-family: sans-serif;
  background: white;
  color: #006698;
  overflow: scroll;
}


/* label and input styling from:
https://stackoverflow.com/a/10868749/7051239 */

label {
  /* display: inline-block; */
  float: left;
  /* clear: left; */
  /* text-align: right; */
  /* width: 100px; */
  margin: 5px;
}

input,
select {
  display: inline-block;
  float: left;
  clear: right;
  margin: 5px;
}

hr {
  border-top: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.longDivider {
  width: 90%;
}

.shortDivider {
  width: 60%;
}


#header {
  background: white;
  color: #006698;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
}

.inputBox {
  position: relative;
  left: 25%;
  height: 50px;
}

.inputSubBox {
  height: 50px;
  float: left;
  margin: 20 20;
}

#orBox {
  line-height: 50px;
  font-weight: bold;
}

.buttonBox {
  position: relative;
  left: 50%;
}

.submitButton {
  margin: 5px;
  font-size: 15px;
  border-radius: 8px;
}


#violMessage {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}

#violBox {
  position: relative;
  height: 75px;
  margin: 20px;
  width: 60%;
  left: 20%;
}

.violClass {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  float: left;
  width: 33%;
}

.violCount {
  text-align: center;
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
  float: left;
  width: 33%;
}

#violCountA {
  color: gold;
}

#violCountB {
  color: darkorange;
}

#violCountC {
  color: red;
}

#map-container {
  position: relative;
  margin: 10 0 10 0;
  height: 400px;
  width: 60%;
  left: 20%;
  text-align: center;
}

#map {
  height: 100%;
}

#sourceAttribution {
  color: gray;
  font-size: 15px;
  text-align: right;
  margin-right: 5%;
  position: center;
}

#sourceAttribution a { text-decoration: underline; }
#sourceAttribution a:link, a:visited { color: gray; }
#sourceAttribution a:hover, a:active { color: #06AEFF; }
